.header-link {
  color: #ffffffc7;
  text-decoration: none;
  transition: 0.2s;
}
.header-link:hover {
  color: #ffffff;
  transition: 0.2s;
}
.footer-link {
  color: #737373;
  text-decoration: none;
  transition: 0.2s;
}
.footer-link:hover {
  color: #064e9f;
  transition: 0.2s;
}
